#box1{
    color: black;
      font-size: small;
      font-family: 'Courier New', Courier, monospace;
      padding: 12px;
      padding-left: 2px;
      border: 2px solid black;
      box-shadow: 0 0 10px rgba(0,0,0,0.15);
      margin: 20px;
      background-color: aquamarine;
}
#box2{
    color: rgb(252, 251, 251);
      font-size: small;
      font-family: 'Courier New', Courier, monospace;
      padding: 12px;
      padding-left: 2px;
      border: 2px solid black;
      box-shadow: 0 0 10px rgba(0,0,0,0.15);
      margin: 20px;
      background-color: rgb(0, 18, 69);
}
